@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);


/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600&display=swap');
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;600&display=swap');
/* font-family: 'Noto Serif', serif; */

.notosanskr * {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Noto Serif KR', serif;
}





* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    line-height: 1;
    max-width: 600px;
    margin: 0 auto;
    color: #333;
    font-family: 'Noto Serif', serif;
    font-family: 'Noto Serif KR', serif;
    font-weight: 400;
    position: relative;
}

.loading {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

.loading img {

    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    width: 100%;
    height: 70px;
    font-family: 'Noto Sans KR', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    /* positon 후 사라지면 z-index 잡아주기 */
}

.inner {
    max-width: 100%;
    width: calc(100% - 40px);
    margin: 0 auto;
}

header .inner {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

header h1 {

    font-size: 0;
}

header h1 a img {
    height: 12px;
    object-fit: cover;
}


header .menu strong {
    font-weight: bold;
}

header .menu img {
    height: 15px;
    object-fit: cover;
}

header .menu_list::-webkit-scrollbar {
    display: none;
}

header .menu_list {
    width: 330px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    padding: 200px 0 0 50px;
    overflow: auto;

}

header .inner .menu_list .menu_close {
    position: absolute;
    top: 20px;
    right: 20px;
    order: 999;
}

header .inner .menu_list .menu_close img {
    height: 18px;
    object-fit: cover;
    position: relative;
}

header .inner .menu_list .menu_close::before {
    content: '';
    display: block;
    padding: 75px;
    border: 1px dashed #D8B77E;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

header .inner .menu_list ul li {
    font-size: 18px;
    margin-bottom: 35px;
    color: #444444;
}

header .inner .menu_list ul li:last-child {
    margin-bottom: 140px;

}

header .inner .menu_list::before {
    content: '';
    display: block;
    padding: 50px;
    border: 1px dashed #D8B77E;
    border-radius: 50%;
    position: absolute;
    top: 507px;
    right: 15px;
}

header .inner .menu_list p {
    font-size: 13px;
    color: #BDBDBD;
    text-align: center;
}

.main_visual {
    width: 100%;
    position: relative;
}

.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual div {
    position: absolute;
    bottom: 0;
    left: 20px;
}

.main_visual div h3 {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 25px;
    color: #111;
}

.main_visual div ul li {
    font-size: 15px;
    color: #666666;
    line-height: 28px;
    font-family: 'Noto Sans KR', sans-serif;

}

.main_visual div ul li img {
    width: 14px;
    height: 14px;
    object-fit: cover;
}

.se01 {
    height: 50vh;
    position: relative;
}

.se01 p {
    margin: 30px 0 144px 20px;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
}

.se01 img {
    width: 326px;
    height: 320px;
    object-fit: cover;
    position: absolute;
    right: -16px;
    bottom: 0px;
}

.se02 {
    margin-top: 60px;
    position: relative;
}

.se02 h4 {
    font-size: 20px;
    color: #32302f;
    line-height: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.se02>img {
    width: 194px;
    height: 15px;
    object-fit: cover;
    position: absolute;
    top: 84px;
    left: 50%;
    transform: translateX(-50%);
}

.se02 .text {
    position: relative;

}

.se02 .text::before {
    content: '';
    display: block;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.se02 .text img {
    width: 100%;
    object-fit: cover;
    margin-top: 95px;
    display: block;
}

.se02 .text p {
    font-size: 14px;
    line-height: 24px;
    width: 300px;
    text-align: center;
    word-break: keep-all;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Noto Serif KR', serif;

    font-weight: normal;

}

.se02 .text p span {
    color: #775E22;

}

.se02 .text img:nth-of-type(2) {
    width: 84px;
    height: 97px;
    position: absolute;
    right: 20px;
    bottom: -15px;
}

.se03 {

    position: relative;
    background-color: #f4f4f4;
}

.se03 h4 {
    font-size: 20px;
    line-height: 32px;
    padding-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}

.se03 .inner>img {
    width: 194px;
    height: 15px;
    position: absolute;
    top: 164px;
    left: 50%;
    transform: translateX(-50%);
}

.se03 h5 {
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
    color: #C7A569;
    text-align: center;
    margin-top: 50px;
    font-family: 'Noto Serif', serif;

}

.se03 .list_btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.se03 .list_btn li {
    display: inline-block;
    margin-right: 15px;
    position: relative;

}

.se03 .list_btn li.on::before {
    display: flex;

}

.se03 .list_btn li::before {
    content: '';
    display: none;
    padding: 10px;
    border: 1px dashed #D8B77E;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -60%);
}

.se03 .list_btn li img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    box-shadow: -2px, -2px, 4px, #00000025;
}

.se03 .list {
    margin-top: 20px;
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.se03 .list.on {
    display: flex;
}

.se03 .list .item {
    width: calc(100% / 2 - 5px);
    text-align: center;
    margin-bottom: 40px;

}

.se03 .list .item img {
    width: 100%;
    height: 108px;
    object-fit: cover;
    display: block;
}

.se03 .list .item strong {
    margin: 10px 0 5px;
    line-height: 26px;
    display: block;
    font-family: 'Noto Serif KR', serif;
    font-weight: 400;
}

.se03 .list .item p {
    font-size: 13px;
    color: #D8B77E;

}

.se03 .list:last-child .item:last-child p {
    letter-spacing: -1px;
}

footer {
    padding: 15px 0;
    background-color: #000;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    position: relative;
    color: #878683;
}

footer::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #888888;
    position: absolute;
    top: 72px;
    left: 0;
}

footer .inner {
    text-align: center;
}

footer .inner .store {
    width: 100%;
    height: 25px;
    background-color: #BCA378;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .inner .store img {
    width: 13px;
    height: 15px;
    object-fit: cover;
}

footer .inner .store p {
    color: #F4F4F4;
    margin-left: 5px;
}

footer .inner>ul {
    margin-top: 10px;
}

footer .inner>ul li {
    color: #888888;
    display: inline-block;
    margin-right: 5px;
}

footer .inner .address {
    margin-top: 30px;
}

footer .inner .address img {
    height: 60px;
    margin-bottom: 20px;
}

footer .inner .address p {
    margin-bottom: 5px;
}

footer .inner .address p:last-of-type {
    margin-top: 25px;
    color: #595755;
    margin-bottom: 15px;
}

footer .inner>img {
    height: 60px;
}

footer .inner .call {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #B29A6E;
    color: #E1C38E;
    text-align: left;
    font-size: 13px;
}

footer .inner .call img {
    width: 15px;
    height: 15px;
    object-fit: cover;
}

footer .inner .call ul:first-child li {
    display: inline-block;
    margin-bottom: 15px;
}

footer .inner .call ul:first-child li:last-child {
    color: #D9D6C5;
    font-size: 18px;
    margin-left: 10px;
}

footer .inner .call ul:last-child {
    font-size: 15px;
    line-height: 23px;
}